@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Mooli', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
body{
  overflow-x: hidden;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
}
/* Barras de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 10px; /* Alto de la barra de desplazamiento horizontal */
  }
    /* Pulgar (thumb) de la barra de desplazamiento */
    ::-webkit-scrollbar-thumb {
      background-color: black ;
      border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:active {
    background-color: crimson;
    border-radius: 4px;
  }
    ::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.848);
      border-radius: 2px;
  }
  
  